In [91]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import requests

# Name List to JSON

In [93]:
df = pd.read_csv("./data/thinktank_data/thinktank_features.csv", index_col=0)

In [88]:
tt_name_dic = {}
for i in df.index:
    tt_name = df['thinktank'][i]
    name_list = list(df[['name1', 'name2', 'name3']].iloc[i,:])
    tt_name_dic[tt_name] = name_list

In [80]:
len(tt_name_dic)

228

In [77]:
# writing to json file

In [78]:
import json
with open('./data/thinktank_data/tt_names.json', 'w') as f:
    json.dump(tt_name_dic, f)

In [95]:
df

,thinktank,name1,name2,name3,year_established,conservative,libertarian,special_topic,exp_2014,exp_2015,exp_2016,exp_2017,exp_2018,uni_affiliation,small_org
0,Acton Institute,Acton Institute,NaN,NaN,1990,1.0,1.0,NaN,"9,428,238.00","10,416,484.00","9,987,692.00","10,964,910.00","10,887,803.00",0,0
1,Allegheny Institute for Public Policy,Allegheny Institute for Public Policy,NaN,NaN,1995,1.0,0.0,NaN,"480,762.00","499,346.00","523,377.00","592,413.00","595,987.00",0,0
2,American Action Forum,American Action Forum,AAF,NaN,2009,1.0,0.0,NaN,"4,878,999.00","5,145,811.00","5,351,985.00","4,863,097.00","3,942,490.00",0,0
3,American Civil Rights Union,American Civil Rights Union,NaN,NaN,1998,1.0,0.0,NaN,"84,257,642.00","84,257,642.00","84,257,642.00","120,961,465.00","120,961,465.00",0,0
4,American College of Pediatricians,American College of Pediatricians,NaN,NaN,2002,1.0,0.0,NaN,"88,011.00","78,761.00","86,663.00","95,100.00","121,269.00",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,International Center for Research on Women,International Center for Research on Women,NaN,NaN,1976,0.0,0.0,women,"9,158,256.00","10,166,456.00","11,834,613.00","12,380,625.00","11,408,439.00",0,0
224,International Intellectual Property Institute,International Intellectual Property Institute,NaN,NaN,1999,0.0,0.0,NaN,"224,165.00","13,468.00","37,243.00","37,243.00","37,243.00",0,0
225,New Teacher Center,New Teacher Center,NaN,NaN,1998,0.0,0.0,NaN,"28,954,837.00","37,267,345.00","38,603,676.00","37,426,875.00","34,049,388.00",0,0
226,Urban Land Institute,Urban Land Institute,NaN,NaN,1936,0.0,0.0,NaN,"59,538,794.00","66,780,791.00","74,041,282.00","67,638,642.00","74,181,732.00",0,0
227,WestEd,WestEd,NaN,NaN,1966,0.0,0.0,NaN,"140,400,000.00","153,000,000.00","160,000,000.00","163,100,000.00","163,100,000.00",0,0